<article>
    <header>
        <h1>{{headline}}</h1>
    </header>
{{#each content}}
<p>{{this}}</p>
{{/each}}
<footer>
    <p><a href={{url}}>Read Article on Manorama Online</a></p>
</footer>
</article>