@import url('https://smc.org.in/fonts/gayathri.css');
              
html { font-family: 'Gayathri', sans-serif; }

body {
    font-size: 1.3rem;
    padding: 10px;
}

ul li {
    padding-top: 12px;
}

header {
    border-bottom: 2px solid black;
}

article {
    max-width: 70ch;
    line-height: 1.7;
    margin: 2rem auto;
    font-size: 1.5rem;
}