@import url('https://smc.org.in/fonts/gayathri.css');
              
html { font-family: 'Gayathri', sans-serif; }

body {
    font-size: 1.1rem;
    padding: 10px;
    line-height: 1.6;
}

ul li {
    margin-top: 15px;
}


article {
    max-width: 70ch;
    margin: 2rem auto;
    
}

article p {
    font-size: 1.5rem;
}


body > footer p {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: #dcdcdc;
    }
    a {
        color: #fcb000;
    }
}